/* Общие настройки */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.dark-theme {
    background-color: #1a1b26;
    color: white;
    font-family: 'Roboto', Arial, sans-serif;
    transition: all .3s ease-in-out;
}

/* Шрифты */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* Навигационное меню */
nav {
    position: relative;
    z-index: 1000;
    overflow: hidden;
    height: 60px;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
}

.logo {
    font-weight: bold;
    font-size: 1.2em;
    letter-spacing: 1px;
}

nav ul {
    list-style-type: none;
    display: flex;
}

.nav-link {
    color: #fff;
    text-decoration: none;
    padding: 10px 15px;
    transition: transform 0.3s ease, color 0.3s ease;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

.nav-link::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 2px;
    background-color: #ffd700;
    transform: scaleX(0);
    transition: transform 0.3s cubic-bezier(.25,.8,.25,1);
}

.nav-link:hover::before {
    transform: scaleX(1);
}

.nav-link:hover {
    transform: translateY(-2px);
    color: #ffd700;
}

/* Основной контент */
header h1 {
    text-align: center;
    padding-top: 2rem;
    font-size: 2em;
    margin-bottom: 1.5rem;
}

section {
    padding: 2rem;
    max-width: 800px;
    margin: auto;
}

section h2 {
    font-size: 1.5em;
    margin-bottom: 1rem;
}

section p {
    line-height: 1.6;
    margin-bottom: 1.5rem;
}

section ul {
    padding-left: 20px;
}

section ul li strong {
    font-weight: bold;
}

/* Аудиоплеер */
audio {
    display: block;
    width: 100%;
    max-width: 600px;
    margin: 2rem auto;
}

/* Подвал */
footer {
    text-align: center;
    padding: 1rem;
    background-color: rgba(0, 0, 0, 0.8);
    color: #ccc;
    font-size: 0.9em;
}

/* Блоки с текстом */
.block {
    background-color: rgba(255, 255, 255, 0.05); /* Полупрозрачная подложка */
    border-radius: 10px; /* Скругленные углы */
    padding: 1.5rem;
    margin-bottom: 2rem;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3); /* Легкая тень */
}

.light-theme footer {
    background-color: rgba(0, 0, 0, 0.1); /* Серый полупрозрачный фон подвала */
}

